{% block title %}
<title>{% if head.title != empty %}{{ head.title }}{% else %}${REPO_NAME} by ${REPO_OWNER}{% endif %}</title>
{% endblock %}

{% block meta %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% for meta in head.metas %}
<meta {% for name, value in meta.attributes %}{{ name }}="{{ value }}" {% endfor %}>
{% endfor %}
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="/css/themes/{{ theme }}/system.css" />
<link type="text/css" rel="stylesheet" href="/css/themes/{{ theme }}/header.css" />
<link type="text/css" rel="stylesheet" href="/css/themes/{{ theme }}/main.css" />
<link type="text/css" rel="stylesheet" href="/css/themes/{{ theme }}/aside.css" />
<link type="text/css" rel="stylesheet" href="/css/themes/{{ theme }}/footer.css" />
<link type="text/css" rel="stylesheet" href="/css/themes/{{ theme }}/colors.css" />
{% endblock %}
