{% block title %}
<title>{% if head.title != empty %}{{ head.title }}{% else %}${REPO_NAME} by ${REPO_OWNER}{% endif %}</title>
{% endblock %}

{% block meta %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% for meta in head.metas %}
<meta {% for name, value in meta.attributes %}{{ name }}="{{ value }}" {% endfor %}>
{% endfor %}
{% endblock %}

{% block css %}
{% for element in css %}
<link type="text/css" rel="stylesheet" {% if element.href %}href="{{ element.href }}" {% endif %} />
{% endfor %}
<link type="text/css" rel="stylesheet" href="/css/themes/default/system.css" />
<link type="text/css" rel="stylesheet" href="/css/themes/default/header.css" />
<link type="text/css" rel="stylesheet" href="/css/themes/default/main.css" />
<link type="text/css" rel="stylesheet" href="/css/themes/default/aside.css" />
<link type="text/css" rel="stylesheet" href="/css/themes/default/footer.css" />
<link type="text/css" rel="stylesheet" href="/css/themes/default/colors.css" />
{% endblock %}
